*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-image: url("https://m.media-amazon.com/images/I/71RWw4rR6LL._UF894,1000_QL80_.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.card{
    width: 100vw;
    height: 50vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
}
.heading{
    color: black;
    font-size: 40px;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 16px;
}
.para{
    color: black;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 16px;
}
.btn{
    width: 140px;
    height: 60px;
    border: none;
    font-family: sans-serif;
    background-color: blue;
    color: aliceblue;
    border-radius: 30px;
    font-weight: 300;
    font-size: 18px;
}